/* Local CSS styles for Crumb Lords Website */
body {
    position: relative; 
    font-size: 16px;
}

/* For video. */
video {
    width: 100% !important;
    height: auto !important;
}
/* For affixed scrollspy. */
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
/* For images in columns. */
.l_col-pic img {
    max-width: 100%; 
    height: auto 
}
.l_diagram img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
/* General layouts. */
#menu, #footer {
    background-color: #222222;
    border-color: #080808;
    color: #9d9d9d;
}
#docManual {
    padding-bottom: 50px;
}
#footer {
    padding: 10px 0;
    text-align: center;
}
/* Puts a tab for the definition list. */
dd {
    margin-left: 16px;
}
/* Emulates the button themes for the MiLearn app. */
.milearn.theme-a {
    background-color: ##f6f6f6;
    color: #333333;
}
.milearn.theme-b {
    background-color: #333333;
    color: #ffffff;
}
.milearn.theme-c {
    background-color: #2d6cc0;
	color: #3c3c3c;
}
.milearn.theme-y {
    background-color: #aa9922; 
	color: #fff000;
}
.milearn.theme-z {
    background-color: #ffffff;
    color: #000000;
}
