/* Local CSS styles for Crumb Lords Website */
body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
.l_col-pic img {
    width: 100%; 
    height: auto 
}
dd {
    margin-left: 16px;
}
.theme-a {
    background-color: #ffffff;
    color: #777777;
}
.theme-b {

}
.theme-c {

}
.theme-y {

}
.theme-z {

}
